*{
    margin: 0;
    padding: 0;
    color: #EA18EE;

}
#card {
  width: 100%;
  overflow: hidden;
  margin: auto;    
  /* background-color: #FFFFEC; */
}
.card-container{
  width: 80%;
  overflow: hidden;
  margin: auto;
}
.box {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid #EA18EE;
  padding: 10px;
}

.box-img {
  width: 30%;
  height: 300px;
}
.box-img img{
  width: 100%;
  height: 100%;
}
.box-title{
  width: 68%;
  height: auto;
  
}
.box-title p{
  font-size: 20px;
  margin-top: 10px;
}
.box1{
  width: 100%;
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
}
.box1 p{
  font-size:20px ; 
}
#form{
  width: 80%;
  overflow: hidden; 
  text-align: end;  
  margin-top: 20px; 
  
}
