a{
  box-sizing: border-box;
  text-decoration: none;
}
*{
     color: #EA18EE;
}
body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 
  }
  .gap-3{
    width: 80%;
    margin: auto;
  }
  .mt-5{
    margin-bottom: 30px;
  }
  .mt-3{
     background-color: #FFFFEC;
  }
  .card {
    width: 40%;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .card img {
    width: 100%;
    height:400px;
  }
  .card-container{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
  }
  .card-container1{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
  }
   .card-container2{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
  }
  .btn-info{
    
    background-color: aliceblue;
    border: #EA18EE solid 1px;
  }
  .btn a{
    color: #EA18EE;
  }