header{
    width: 80%;
    margin: auto;
    /* background-color: #FFFFEC; */
    border-bottom:2px solid #EA18EE;
}
.nav-item{
    padding: 10px;
    font-size: 20px;
     

}
.nav-link{
    color: #EA18EE;
}
.nav{
    color: #EA18EE;
}

